* {
    color: rgb(255, 255, 255);
}


// .row {
//     margin-right: 0px;
//     margin-left: 0px;
// }

header {
    height: 60vh;
    background: url(../images/hero.jpg) center/cover no-repeat;
    box-shadow: inset 0 120px 80px 20px rgba(0, 0, 0, 0.8),
        inset 0 -120px 80px 20px rgba(0, 0, 0, 0.8);

    nav {
        padding: 1rem;

        .logo {
            height: 1.8rem;
        }

        .sign-in {
            background-color: #e50914;
            border-radius: 5px;
            display: block;
            padding: 0.3rem;
            color: #ffffff;
            font-size: 0.9rem;
            border: 0;
        }
    }

    .hero {
        padding: 4rem 2rem 2rem 2rem;
        line-height: 130%;
        font-family: Helvetica, Arial, sans-serif;

        * {
            color: #fff;
        }

        .hero-a {
            font-size: 2rem;
        }

        .hero-b {
            font-size: 1.1rem;
        }

        .hero-c {
            font-size: 1.1rem;
        }


    }
}


main {
    background-color: #000000;

    .sec-a,
    .sec-b,
    .sec-c,
    .faq {
        min-height: 60vh;

    }

    .sec-b {
        .download {
            padding: 1rem;
            background-color: #000000;
            border: 2px solid #868686;
            border-radius: 5px;
            width: 70%;
            height: 5rem;
            position: absolute;
            top: 60%;
            left: 15%;
            display: flex;
            justify-content: space-between;
            align-self: center;

            .boxshot {

                width: 13% !important;
            }

            .download-text {
                span:nth-of-type(2) {
                    color: #4c83fa;
                }
            }

            .download-icon {

                height: 2rem !important;
                width: 2rem !important;

            }

        }
    }


}

form {
    padding: 2rem 0;
    order: 1;

    .email-input {
        border: 0 !important;
        height: 3rem;
        width: 100%;
        padding: 0 .6em;
        color: black;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }

    .btn-email-submit {
        background-color: #e50914;
        border-radius: 2px;
        display: block;
        padding: 0.3rem 1.6rem;
        color: #ffffff;
        font-size: 1.1rem;
        border: 0;
        height: 2.7rem;
        margin: auto;
        width: 44vw;
    }
}

footer {

    background-color: #000000;

    .footer-list {
        list-style-type: none;

        li {


            a {
                text-decoration: none;

                color: #868686;
            }
        }
    }

}

.bg-dark {
    background-color: #272727 !important;
}

@media (min-width: 1024px) {

    header {
        height: 95vh;
        background: url(../images/hero.jpg) center/cover no-repeat;
        box-shadow: inset 0 120px 80px 20px rgba(0, 0, 0, 0.8),
            inset 0 -120px 80px 20px rgba(0, 0, 0, 0.8);

        nav {
            padding: 2rem 3rem;

            .logo {
                height: 2.8rem;
            }

            .sign-in {
                background-color: #e50914;
                border-radius: 5px;
                display: block;
                padding: .4rem 1.1rem;
                color: #ffffff;
            }
        }

        .hero {
            padding: 8rem 2rem 2rem 2rem;
            font-family: Helvetica, Arial, sans-serif;

            * {
                color: #fff;
            }

            .hero-a {
                line-height: 90%;
                font-size: 4rem;
                font-weight: bold;
                width: 50%;
            }

            .hero-b {
                font-size: 1.1rem;
            }

            .hero-c {
                font-size: 1.1rem;
                order: 1;
            }


        }
    }


    main {
        background-color: #000000;

        h2 {
            font-size: 3rem;
            line-height: 90%;
            text-align: left;
        }

        p {
            padding-top: 1rem;
            font-size: 1.3rem;
            line-height: 110%;
            text-align: left;

        }

        .sec-a,
        .sec-b,
        .sec-c,
        .faq {
            padding: 1rem 6rem !important;
            min-height: 60vh;

            img:not(.tv) {
                width: 30rem !important;
            }
        }

        .txt {
            max-width: 35rem;
        }

        .sec-b {
            .download {
                padding: 1rem;
                background-color: #000000;
                border: 2px solid #868686;
                border-radius: 5px;
                width: 50%;
                position: absolute;
                top: 70%;
                left: 25%;
                display: flex;

                .boxshot {

                    width: 13% !important;
                }

                .download-text {}

                .download-icon {

                    height: 2rem !important;
                    width: 2rem !important;

                }

            }
        }


    }

    form {
        padding: 2rem 0;
        order: 1;

        .email-input {
            border: 0 !important;
            height: 4rem;
            width: 45rem;

            padding: 0 .6em;
            color: black;
            display: block;
            margin: auto;
            margin-bottom: 1rem;
        }

        .btn-email-submit {
            background-color: #e50914;
            border-radius: 2px;
            display: block;
            padding: 0.3rem 1.6rem;
            color: #ffffff;
            font-size: 1.1rem;
            border: 0;
            height: 2.7rem;
            width: 15rem;
            margin: auto;
        }
    }

    footer {

        background-color: #000000;
        padding: 0 15rem;

        .footer-list {
            list-style-type: none;

            li {


                a {
                    text-decoration: none;
                    color: #868686;
                    font-size: .8rem;
                }
            }
        }

    }

}


.border-bottomx {
    border-bottom: 6px solid #272727;
}

.tv-container {

    width: 30rem !important;
    height: 20rem !important;


    z-index: 1;


    .img1 {
        width: 100%;

    }

    .vid1 {
        background-size: contain;
        width: 70%;
        position: absolute;
        top: 10%;
        left: 15%;
        z-index: -1;
    }

    ////
    .img2 {
        width: 100%;

    }

    .vid2 {
        background-size: contain;
        width: 45%;
        position: absolute;
        top: 10%;
        left: 28%;
        z-index: -1;
    }
}